.base {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-self: auto;
  flex-grow: 1;
  margin-top: 32px;
}

.panel {
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  margin: 100px auto 0;
  max-width: 400px;
}

.p-top {
  flex-direction: column;
  display: flex;
  align-items: center;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  margin: 24px 0 16px 0;
}

.p-top > span {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url('../../Image/instaLogo.png');
}

.p-body {
  flex-direction: column;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  position: relative;
  align-self: auto;
}

.problem {
  width: 100%;
  font-weight: 600;
  position: relative;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.problem-ex {
  font-weight: 400;
  position: relative;
  text-align: center;
  display: block;
  color: rgb(115, 115, 115);
  font-size: 14px;
  margin-left: 40px;
  margin-right: 40px;
}

.input-li {
  margin: 0 40px 20px;
}

.input-li > div {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid;
  font-size: 14px;

  border-color: rgb(219, 219, 219);
  align-items: center;

  width: 100%;
  min-width: 0;
  height: 36px;

  display: flex;
  position: relative;
}

.input-li > div > span {
  color: rgb(115, 115, 115);
  font-size: 12px;
  height: 36px;
  left: 8px;
  right: 0;
  line-height: 36px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transform-origin: left;
}

.email-input {
  font-size: 16px;
  text-align: left;
  background: rgb(250, 250, 250);
  border: 0;
  flex: 1 0 auto;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  font-weight: normal;
}

.findBtnArea {
  flex-direction: column;
  display: flex;

  margin: 8px 40px 8px 40px;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.find-btn {
  background-color: rgba(0, 149, 246, 1);
  width: auto;
  display: block;
  box-sizing: border-box;
  margin: 0;

  border-radius: 8px;
  border: none;
  color: white;

  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  height: 32px;
  pointer-events: pointer;
}

.find-btn[disabled] {
  opacity: .7;
  pointer-events: none;
}

.orArea {
  margin: 25px 40px 25px;
}

.orArea > div {
  display: flex;
  flex-direction: row;
}

.underline {
  top: .45em;
  height: 1px;
  background-color: rgb(219, 219, 219);
}

.or {
  padding: 0;
  margin: 0 18px 0 18px;
  font-weight: 600;
  border-bottom-width: 0;
  color: rgb(115, 115, 115);
  font-size: .8rem;
}

.newBtn {
  margin: 0 150px 50px 150px;
  display: flex;
  flex-direction: column;
}

.newBtn > span {
  font-weight: 600;
  color: rgb(38, 38, 38);
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.newBtn > span:hover {
  color: rgb(173, 173, 173)
}

.backLogin {
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  justify-content: center;
}

.backLogin > span {
  margin: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.backLogin > span:hover {
  color: rgb(173, 173, 173)
}

.footer {
  margin-top: 15vh;
}
