.MainPanel {
  position: relative;
  display: flex;
  z-index: 0;
  justify-content: space-between;
}

.leftPanel {
  width: 250px;
  height: 100vh;
  padding: 8px 12px 20px 12px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  border-right: 1px solid rgb(219, 219, 219);
}

@font-face {
  font-family: 'logoFont';
  src: url(../Font/Billabong.otf);
}

.l-top {
  width: 100%;
  font-family: 'logoFont';
  font-size: 30px;
  margin: 0 0 20px;
  padding: 25px 10px 10px;
}

.l-top > span {
  display: flex;
  cursor: pointer;
  font-weight: 600;
}

.l-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.body-item {
  margin: 4px 0;
  padding: 12px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: 0.3s;
  border-radius: 10px;
  cursor: pointer;
}

.body-item > span {
  padding-left: 16px;
  font-weight: 600;
}

.l-body-item-hover {
  background-color: rgb(219, 219, 219);
  transition: 0.3s;
}

.img {
  width: 24px;
  height: 24px;
  background-size: cover;
  scale: 100%;
  transition: 0.4s;
}

.home {
  background-image: url('../Image/Home.png');
}

.search {
  background-image: url('../Image/search.png');
}

.create {
  background-image: url('../Image/Create.png');
}

.img-hover {
  scale: 110%;
  transition: 0.4s;
}

.l-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.more {
  background-image: url('../Image/more.png');
  background-size: cover;
}

.MainContent {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
}

.rightPanel {
  width: 320px;
  height: 100vh;
  padding-left: 60px;
  background-color: white;
  z-index: 0;
}

.rightPanel > div {
  margin-top: 32px;
  flex-direction: column;
  display: flex;
  position: static;
  align-items: stretch;
  justify-content: flex-start;
}

.profile {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 8px 0 8px 0;
}

.profile > div {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

.profile-img {
  max-width: 100%;
  display: flex;
  flex-shrink: 0;
  margin-right: 12px;
}

.profile-img > a {
  text-decoration: none;
  top: -5px;
  left: -5px;
  width: 50px;
  height: 50px;
}

.profile-img > a > img {
  cursor: pointer;
  width: 46px;
  height: 46px;
}

.user-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.user-info > div {
  font-weight: 600;
  line-height: 18px;
  font-size: 14px;
}

.user-info > span {
  color: rgb(115, 115, 115);
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
}

.recommend-panel {
  margin-top: 24px;
  margin-bottom: 8px;
  flex-direction: column;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: stretch;
  justify-content: flex-start;
}

.for-recommend {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: rgb(115, 115, 115);
}

.profile_Btn {
  cursor: pointer;
  color: #0095f6;
  font-weight: 600;
  font-size: 12px;
}

.profile_Btn:hover {
  color: #144d37;
}

.main-content {
  max-width: 650px;
  width: 100%;
}

.main-content > div {
  margin-top: 16px;
  width: 100%;
}

.main-top {
  margin-bottom: 20px;
}

.main-top > div {
  margin-top: 0;
  padding: 8px 0;
  height: 85px;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  scrollbar-width: none;
}

.main-top > div > ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  position: absolute;
}


.main-to-list > div {
  width: 72px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 4px;
  top: 2px;
}

.list-in-panel {
  padding: 0;
  margin: 0;
  width: 66px;
  flex-direction: column;
  align-self: center;
  display: flex;
  text-align: center;
  cursor: pointer;
}

.list-profile {
  flex: none;
  display: block;
  align-self: center;
  position: relative;
  width: 56px;
  height: 56px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.list-profile > span {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
}

.list-profile > span > img {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 70%;
  border: 2px solid transparent;
}

.story-wrap {
  border: 2px solid transparent;
  border-radius: 70%;
  background-image: linear-gradient(#fff, #fff), 
  linear-gradient(to left bottom, rgb(255, 0, 255) 0%,  rgb(255, 187, 0) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.none-story-wrap {
  border: 2px solid transparent;
  border-radius: 70%;
  background-image: linear-gradient(#fff, #fff), 
  linear-gradient(to left bottom, rgb(211, 211, 211) 0%,  rgba(219, 219, 219) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.list-nickname {
  max-width: 74px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  position: relative;
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 500;
  font-size: 12px;
}