.popupDim {
  position: fixed;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: rgba(0 , 0, 0, 0.5);
}

.popup-main {
  z-index: 7;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: fixed;
}

.popup-main > .popup-sub-main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.popup-box {
  z-index: 8;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 12px;
  animation: Open 0.1s ease-out;
}

.popup-box > div {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.popup-top {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
  text-align: center;
}

.popup-top > h3 {
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.popup-top > p {
  color: rgb(155, 155, 155);
  font-size: 14px;
}

.popup-buttons {
  margin-top: 16px;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup-buttons > button {
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  flex-shrink: 0;
  line-height: 1.5;
  font-size: 14px;
  padding: 4px 48px;
  height: 48px;
  text-align: center;
  border: none;
  border-top: 1px solid rgb(219, 219, 219);
}

.popup-button:nth-child(1){
  color: red;
}

@keyframes Open {
  0% {scale: 120%;}
  100% {scale: 100%;}
}